<h1>Movies</h1>

<p>{{errorMessage}}</p>
<form action='/movie' method='POST'>
    <input type='text' name='title' placeholder='title'>
    <input type='text' name='actor' placeholder='actor'>
    <input type='text' name='date' placeholder='date'>
    <input type='text' name='rating' placeholder='rating'>
    <input type='text' name='stream' placeholder='stream'>
    <input type="submit" class='submit' value="submit">

</form>


